@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

.responsive-nav {
  display: none;
}

.icon {
  display: none !important;
}

nav {
  background: inherit;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #354a9b;
}

nav .headers {
  display: flex;
  gap: 40px;
  color: #354a9b;
}

nav img {
  height: 50px;
  width: 80px;
}

a {
  color: #354a9b;
}

#about-us {
  min-height: 90vh;
}

@media screen and (max-width: 895px) {
  .headers li {
    display: none;
  }
  .icon {
    display: block !important;
  }
  .responsive-nav {
    height: 50vh;
    background: inherit;
  }
  .responsive-nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #354a9b;
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
/* 
.my-svg-background {
  background-color: hsla(239, 32%, 28%, 1);
  background-image: radial-gradient(
      at 80% 100%,
      hsla(239, 75%, 61%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(231, 100%, 55%, 1) 0px, transparent 50%);
  background-size: cover;
} */

.main {
  background: url(assets/background.svg);
}

.main h2 {
  color: #fff;
  font-size: 1.4em;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  color: #48cae4;
  font-size: 3em;
  font-weight: 800;
}

.main h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1310px) {
}

.main-btn {
  color: #fff;
  background-color: #4361ee;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {
  background-color: #3f37c9;
  transform: scale(1.1);
}

.social-icons a {
  color: #fff;
  font-size: 1.6em;
  margin: 10px;
}

.image img {
  height: 450px;
  max-width: 600px;
}
.image {
  text-align: center;
  margin-left: 20px;
}

@media screen and (max-width: 1550px) {
  .image img {
    height: 350px;
    max-width: 500px;
  }
  .main h2 span {
    font-size: 2.2em;
    font-weight: 700;
  }
  .main h3 {
    font-size: 1.5em;
  }
  .card-text {
    padding: 10px;
    font-size: medium;
  }
}

.title {
  display: flex;
  justify-content: center;
  color: #4d4fd4;
  font-size: 2.2em;
  font-weight: 800;
  padding: 20px;
  margin-bottom: 50px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 160px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  width: 60%;
}

.card-text {
  padding: 20px;
  font-size: large;
}

.card-inner h2 {
  color: #4d4fd4;
}

.card {
  width: 100%;
  height: 400px;
  transition: all 0.7s ease;
  position: relative;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: scale(1.2);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#3c3d8d, #4d4fd4);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@media screen and (max-width: 1380px) {
  .content {
    width: 70%;
  }
}

@media screen and (max-width: 1100px) {
  .content {
    width: 50%;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .content {
    width: 60%;
    flex-direction: column;
  }
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

#team .title {
  color: #fff;
}

#team {
  background: url(assets/background2.svg) no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 70vh;
  margin-top: 60px;
}

#team h2 {
  color: white;
}

.team-content img {
  width: 100%;
}

.team-content {
  width: 100%;
  height: 70%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.project-card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  width: 18%;
  overflow: hidden;
  backdrop-filter: blur(5px);
  margin: 20px;
  transition: 0.7s ease;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-card:hover {
  opacity: 0.9;
}

.project-image img {
  width: 100%;
}

.project-info {
  padding: 1em;
}

.project-category {
  font-size: 0.8em;
  color: #000;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.events .event-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.events .card-project:hover {
  transform: scale(1.1);
}

.events .card-project:hover {
  opacity: 0.9;
}

.events .event-info {
  padding: 1em;
}

.events .event-category {
  font-size: 0.8em;
  color: #000;
}

.events .event-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.more-details {
  text-decoration: none;
  color: #4d4fd4;
}

.events {
  min-height: 70vh;
  padding: 30px;
}

.card-project {
  margin-top: 30px;
}

.card-project {
  background-color: #fff;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  width: 25%;
  margin: 20px;
  transition: 0.7s ease;
}

.events img {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #f1f0f0;
  color: #000;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-title {
  font-size: 1.1em;
  font-weight: 600;
}

.footer-title span {
  color: #000;
}

.footer .social-icons a {
  color: #000;
}

@media screen and (max-width: 1250px) {
  .image img {
    height: 250px;
    max-width: 400px;
  }

  .main h2 span {
    font-size: 2.4em;
    font-weight: 700;
  }
  .main h3 {
    font-size: 1em;
  }
  .main h2 {
    font-size: 0.9em;
  }
  .card-project {
    width: 35%;
  }
}

@media screen and (max-width: 900px) {
  .main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .main .text {
    text-align: center;
  }
  .main h2 {
    font-size: 1.4em;
    font-weight: 500;
  }

  .main h2 span {
    font-size: 2.2em;
    font-weight: 800;
  }

  .main h3 {
    font-size: 1.2em;
  }
  .social-icons {
    text-align: center;
  }
  .image img {
    display: none;
  }
  .team-content {
    flex-direction: column;
  }
  .project-card {
    width: 30%;
  }
  .card-project {
    width: 40%;
  }
}

@media screen and (max-width: 850px) {
  .card-project {
    width: 45%;
  }
}

@media screen and (max-width: 750px) {
  .main h2 {
    font-size: 1.2em;
    font-weight: 500;
  }

  .main h2 span {
    font-size: 2.5em;
    font-weight: 800;
  }

  .main h3 {
    font-size: 1.2em;
  }
  .card-project {
    width: 55%;
  }
}

@media screen and (max-width: 550px) {
  .content {
    width: 80%;
    flex-direction: column;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .project-card {
    width: 60%;
  }
  .footer {
    flex-direction: column;
    gap: 20px;
  }
  .card-project {
    width: 65%;
  }
}

@media screen and (max-width: 500px) {
  .main h2 {
    font-size: 1em;
    font-weight: 500;
  }

  .main h2 span {
    font-size: 2.2em;
    font-weight: 800;
  }

  .main h3 {
    font-size: 1em;
  }
  .card-project {
    width: 75%;
  }
  .card-project span {
    font-size: small;
  }
  .card-project a {
    font-size: small;
  }
}

@media screen and (max-width: 400px) {
  .content {
    width: 80%;
    flex-direction: column;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .card-inner h2 {
    font-size: larger;
  }
  .card-inner p {
    font-size: medium;
  }
  .project-card {
    width: 60%;
  }
  .card-project {
    width: 85%;
  }
}
